[Unit]
Description=Activate Telephone
After=network.target

[Service]
Type=simple
ExecStart=/home/meme/VASTSYSTEEM/Telephone/TELEFOON/battchecker.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
