[Unit]
Description=Activate Telephone
After=network.target

[Service]
Type=simple
ExecStart=~/VASTSYSTEEM/Telephone/TELEFOON/activatephone.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
