[Desktop Entry]
Type=Application
Name=ElderOS
GenericName=ElderOS
X-GNOME-FullName=ElderOS
Exec=bash -c "/home/$USER/VASTSYSTEEM/autostartup.sh"
Terminal=false
Categories=Network;
